{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>SPK - PEMILIAHN BIDANG KEAHLIAN</title>
</head>
<body>
  <div class="relative h-full w-full bg-white">
      <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:38px_38px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"></div>

      <!-- header -->
      <div class="mx-20 py-10 flex gap-5 text-slate-600 bg-transparent relative">
        <a href="https://github.com/ENONGLOSKER"><ion-icon name="logo-github" class="w-10 h-10 hover:text-indigo-500 hover:drop-shadow-2xl transition duration-300 "></ion-icon></a>
        <a href="https://www.youtube.com/@el-coder"><ion-icon name="logo-instagram" class="w-10 h-10 hover:text-indigo-500 hover:drop-shadow-2xl transition duration-300 "></ion-icon></a>
        <img src="{% static 'img/light.png' %}" alt="light" class="absolute top-0 left-48 w-1/2">
        <div class="bg-blue-400 w-56 h-56 rounded-full absolute top-0 -right-20 blur-3xl opacity-50 overflow-hidden"></div>
      </div>
      <div class="mx-auto px-40 text-center w-full  relative">
        <div class="px-5">
          <h1 class="font-bold text-6xl leading-tight text-slate-800">Sistem Pendukung Keputusan 
            <span class="text-indigo-600">Pemilihan</span> Bidang <span class="text-indigo-600">Keahlian</span>
          </h1>
          <p class="px-10 mt-5 mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt. Accusamus, quod, reiciendis alias assumenda dignissimos quidem quos dolor iure culpa eius voluptate</p>

          <a href="{% url 'dashboard:dashboard' %}" target="_blank" class="bg-slate-900 py-4 px-9 rounded-full font-medium text-white hover:bg-indigo-600 hover:drop-shadow-2xl transition duration-300">Get started</a>
  
        </div>
      </div>
  </div>

  
  <!-- section 01 -->
  <section class=" my-36 relative">
    <div class="relative">
      <div class="w-[400px] h-48 bg-blue-400 rounded-full absolute left-[600px] top-32 blur-3xl mix-blend-multiply opacity-50 "></div>
      <div class="w-[450px] h-60 bg-pink-400 rounded-full absolute top-52 left-1/4 blur-3xl mix-blend-multiply opacity-50"></div>
    </div>
    <div class="w-1/3 mx-auto my-12 z-50 ">
      <span class="flex items-center justify-center text-center font-bold text-lg text-indigo-600">Bidang Keahlian</span>
      <h2 class="text-center text-4xl font-bold leading">Temukan <span class="text-indigo-600">Passion</span> dan <span class="text-indigo-600"> Bangun Karier </span> Anda
      </h2>
    </div>
    <div class=" flex justify-center items-center space-x-4 relative">
      <img src="{% static 'img/project-itc-dashboard.png' %}" class="w-80 rounded-lg shadow-lg">
      <img src="{% static 'img/project-itc-dashboard.png' %}" class="w-80 rounded-lg shadow-lg">
      <img src="{% static 'img/project-itc-dashboard.png' %}" class="w-80 rounded-lg shadow-lg">

    </div>

  </section>

  <!-- section 02 -->
  <section class=" my-56 bg-gray-50 w-full h-[500px] flex justify-center relative">
    
    <div class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:20px_20px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_70%)]"></div>
    <div class="grid grid-cols-12 mx-10 relative">
      <img src="{% static 'img/light.png' %}" alt="light" class="absolute ">
      <div class="col-span-6 mt-16 relative">
        <div class="mb-14">
          <h2 class="text-4xl font-bold leading w-4/5 ">Mengapa Bergabung dengan <span class="text-indigo-600">UKM ITC?</span>
          </h2>
          <p class="mt-5 leading w-[570px] text-xl">
            UKM ITC (Information Technology Community) adalah wadah 
            bagi para mahasiswa yang memiliki minat di bidang 
            Programming, Jaringan dan IoT, serta Multimedia. Kami 
            berkomitmen untuk mengembangkan potensi Anda dalam 
            dunia teknologi informasi dan komunikasi
          </p>
        </div>

        <div class="flex space-x-4 font-semibold">
          <a href="#" class="bg-indigo-600 py-4 px-11 outline-none  rounded-full text-white">Sign up</a>
          <a href="#" class="py-4 px-11 outline-none border-2 border-indigo-400 rounded-full text-slate-600">Tray now</a>
        </div>
      </div>
      
      <div class="col-span-6 flex justify-center items-center relative">
        <div class="">
          <div class="w-[300px] h-48 bg-blue-400 rounded-full absolute bottom-1/2 left-[300px] blur-2xl"></div>
          <div class="w-[350px] h-60 bg-pink-400 rounded-full absolute top-1/2 blur-2xl mix-blend-multiply opacity-50"></div>
        </div>

        <div class=" p-2 relative">
          <img src="{% static 'img/project-itc-dashboard.png' %}" class="w-[550px] h-[400px] rounded-lg shadow-lg">
        </div>
      </div>
    </div>

  </section>

  <!-- section 03 -->
  <section class="mb-20">
    <div class="relative h-full w-full bg-white"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_top,#4f4f4f2e_1px,transparent_1px)] bg-[size:38px_38px] [mask-image:radial-gradient(ellipse_50%_40%_at_50%_90%,#000_70%,transparent_110%)]"></div>
    <div class="grid grid-cols-12 mx-10">
      <div class="col-span-6 relative order-2">
        <div class="mx-10 pe-12">
          <h2 class="text-4xl font-bold leading pe-3">Cara Bergabung dengan <span class="text-indigo-600">UKM ITC?</span></h2>
          <div class="mt-5 flex items-center space-x-2">
            <ion-icon name="checkmark-circle-outline" class="w-20 h-20 text-green-400"></ion-icon>
            <p class="text-slate-900">Kunjungi Booth Kami di Acara Penerimaan Workshop: Temui kami untuk informasi lebih lanjut tentang UKM ITC dan cara bergabung.
              </p>
          </div>
          <div class="mt-5 flex items-center space-x-2">
            <ion-icon name="checkmark-circle-outline" class="w-20 h-20 text-green-400"></ion-icon>
            <p class="text-slate-900">Kunjungi Booth Kami di Acara Penerimaan Workshop: Temui kami untuk informasi lebih lanjut tentang UKM ITC dan cara bergabung.</p>
          </div>
          <div class="mt-5 flex items-center space-x-2">
            <ion-icon name="checkmark-circle-outline" class="w-20 h-20 text-green-400"></ion-icon>
            <p class="text-slate-900">Kunjungi Booth Kami di Acara Penerimaan Workshop: Temui kami untuk informasi lebih lanjut tentang UKM ITC dan cara bergabung.</p>
          </div>
        </div>

      </div>
      
      <div class="col-span-6 flex justify-center items-center relative order-1">
        <div class="">
          <div class="w-[300px] h-48 bg-blue-400 rounded-full absolute bottom-1/2 left-[300px] blur-2xl"></div>
          <div class="w-[350px] h-60 bg-pink-400 rounded-full absolute top-1/2 blur-2xl mix-blend-multiply opacity-50"></div>
        </div>

        <div class=" p-2 relative">
          <img src="{% static 'img/project-itc-dashboard.png' %}" class="w-[550px] h-[400px] rounded-lg shadow-lg">
        </div>
      </div>
    </div>
  </div>
  </section>


    <!-- position  -->
    <div class="relative">
      <div class="w-10 h-10 bg-slate-800 p-2 rounded-full flex fixed bottom-5 right-5 cursor-pointer animate-bounce shadow-lg shadow-indigo-300">
          <a href="#" class="m-auto">📍</a>
      </div>
  </div>

  <!-- ionic icon -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>