{%extends 'base.html'%}
{%load static%}
{%block konten%}
<div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form action="#" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" name="cari" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter" >23</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notifikasi
                                </h6>
                                <!-- di dalam <div class="dropdown-list"> -->
                                <!-- {% for notifikasi in notifications %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-bell text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{ notifikasi.timestamp|date:"F d, Y" }}</div>
                                        <span class="font-weight-bold">{{ notifikasi.message }}</span>
                                    </div>
                                </a>
                                {% endfor %} -->

                                
                                <a class="dropdown-item text-center small text-gray-400" href="#">Show All Notifikasi</a>
                            </div>
            </li>
            

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
                    <img class="img-profile rounded-circle"
                        src="{%static 'img/logo.png'%}">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">                              
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'dashboard:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">penilaian UKM-ITC<h1>
                
                <a href="{% url 'dashboard:create_penilaian' %}"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i>  Add Data
                </a>  
        </div>
       
         
        <div class="row">

            <!-- Area tabel  penilaian -->
            <div class="col-xl-12 col-lg-9">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DATA penilaian UKM ITC</h6>
                        </div>
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr>
                                            <th>NO</th>                                                                                      
                                            <th>ALTERNATIF</th>                                            
                                            <th class="text-center">TES 1</th>
                                            <th class="text-center">TES 2</th>
                                            <th class="text-center">TES 3</th>
                                            <th class="text-center">TES 4</th>
                                            <th class="text-center">TES 5</th>
                                        </tr>
                                    </thead>
                                    <tbody>  
                                                                                                                                                                                                  
                                        {%for data in penilaian%}                                                
                                                                                       
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{data.penilaian_alternatif}}
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Action:</div>
                                                        <a class="dropdown-item" href="{%url 'dashboard:update_penilaian' pk=data.pk%}">Edit</a>                                                        
                                                        <a class="dropdown-item" href="{%url 'dashboard:delete_penilaian' pk=data.pk%}" onclick="return confirm('yakin ingin menghapus data?')">Hapus</a>                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">{{data.penilaian_kriteria1}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria2}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria3}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria4}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria5}}</td>
                                        </tr> 
                                        
                                        {%endfor%}

                                    </tbody>
                                </table>
                                
                        </div>
                    </div>                               
                </div>
            </div>

            <!-- Area tabel pemetaan gap -->
            <div class="col-xl-12 col-lg-9 mt-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data penilaian</h6>
                        </div>
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr>
                                            <th>NO</th>                                                                                      
                                            <th>ALTERNATIF</th>                                            
                                            <th class="text-center">TES 1</th>
                                            <th class="text-center">TES 2</th>
                                            <th class="text-center">TES 3</th>
                                            <th class="text-center">TES 4</th>
                                            <th class="text-center">TES 5</th>
                                        </tr>
                                    </thead>
                                    <tbody>  
                                                                                                                                                                                                  
                                        {%for data in penilaian%}                                                
                                                                                       
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td>{{data.penilaian_alternatif}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria1}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria2}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria3}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria4}}</td>
                                            <td class="text-center">{{data.penilaian_kriteria5}}</td>                                      
                                        </tr> 
                                        {%endfor%}
                                        <tr class="text-center text-bold ">
                                            <td class="table-primary fw-bold" colspan="2">NILAI TARGET</td>
                                            
                                            {%for gap in kriteria%}
                                            <td class="fw-bold">{{gap.nilai_target}}</td>
                                            {%endfor%}
                                        </tr>

                                        <!-- {% for kriteria, hasil_pengurangan in hasil_perhitungan.items %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td></td>
                                            {% for hasil in hasil_pengurangan %}
                                                <td class="text-center">{{ hasil }}</td>
                                            {% endfor %}
                                            </tr>
                                        {% endfor %} -->


                                    </tbody>
                                </table>
                                
                        </div>
                    </div>                               
                </div>
            </div>

            <!-- Area tabel pemetaan gap -->
            <div class="col-xl-12 col-lg-9 mt-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data pemetaan GAP</h6>
                        </div>
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>KRITERIA</th>
                                            {%for data in penilaian %}
                                            <th>{{data.penilaian_alternatif}}</th>
                                            {%endfor%}
                                            
                                        </tr>
                                    </thead>
                                    <tbody >
                                        {% for kriteria, hasil_pengurangan in hasil_perhitungan.items %}
                                            <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ kriteria }}</td>
                                            {% for hasil in hasil_pengurangan %}
                                                <td class="text-center">{{ hasil }}</td>
                                            {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                                
                        </div>
                    </div>                               
                </div>
            </div>
            
            <!-- Area tabel pemetaan gap -->
            <div class="col-xl-12 col-lg-9 mt-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data pemetaan GAP</h6>
                        </div>
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>KRITERIA</th>
                                            {%for data in penilaian %}
                                            <th>{{data.penilaian_alternatif}}</th>
                                            {%endfor%}
                                            
                                        </tr>
                                    </thead>
                                    <tbody >
                                        {% for kriteria, konversi_hasil_pengurangan in konversi_hasil_perhitungan.items %}
                                            <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ kriteria }}</td>
                                            {% for hasil in konversi_hasil_pengurangan %}
                                                <td class="text-center">{{ hasil }}</td>
                                            {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                                
                        </div>
                    </div>                               
                </div>
            </div>

            <!-- Area tabel pemetaan gap -->
            <div class="col-xl-12 col-lg-9 mt-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data rata-rata nilai faktor</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th>PENILAIAN</th>
                                        {%for data in penilaian %}
                                        <th>{{data.penilaian_alternatif}}</th>
                                        {%endfor%}
                                        
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr class="text-center">
                                        <td >1</td>
                                        <td class="text-left">CORE FACTOR</td>
                                        {% for hasil1 in hasil_avarage_cf %}
                                            <td>{{ hasil1 }}</td>                                            
                                        {% endfor %}
                                    </tr>
                                    <tr class="text-center">
                                        <td >2</td>
                                        <td class="text-left">SECONDERY FACTOR</td>
                                        {% for hasil2 in hasil_avarage_sf %}
                                            <td>{{ hasil2 }}</td>                                            
                                        {% endfor %}
                                    </tr>
                                    <tr class="text-center">                                        
                                        <td class="table-primary fw-bold" colspan="2">TOTAL NILAI</td>
                                        {% for nilai in nilaia_total %}
                                            <td>{{ nilai }}</td>                                            
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                               
                </div>
            </div>
          
        </div>

    </div>
    <!-- /.container-fluid -->

</div>




{%endblock konten%}

<!-- SCRIPT -->
{%block script%}

{%endblock script%}